<<<<<<<
HEAD /* Black */  
.o2k7SkinBlack .mceToolbar .mceToolbarStart span,.o2k7SkinBlack .mceToolbar .mceToolbarEnd span,.o2k7SkinBlack .mceButton,.o2k7SkinBlack .mceSplitButton,.o2k7SkinBlack .mceSeparator,.o2k7SkinBlack .mceSplitButton a.mceOpen,.o2k7SkinBlack .mceListBox a.mceOpen
	{
	background-image: url(img/button_bg_black.png)
}

.o2k7SkinBlack table,.o2k7SkinBlack .mceMenuItemTitle a,.o2k7SkinBlack .mceMenuItemTitle span.mceText,.o2k7SkinBlack .mceStatusbar div,.o2k7SkinBlack .mceStatusbar span,.o2k7SkinBlack .mceStatusbar a
	{
	background: #535353;
	color: #FFF
}

.o2k7SkinBlack table.mceListBoxEnabled .mceText,o2k7SkinBlack .mceListBox .mceText
	{
	background: #FFF;
	border: 1px solid #CBCFD4;
	border-bottom-color: #989FA9;
	border-right: 0
}

.o2k7SkinBlack table.mceListBoxEnabled:hover .mceText,.o2k7SkinBlack .mceListBoxHover .mceText,.o2k7SkinBlack .mceListBoxSelected .mceText
	{
	background: #FFF;
	border: 1px solid #FFBD69;
	border-right: 0
}

.o2k7SkinBlack .mceExternalToolbar,.o2k7SkinBlack .mceListBox .mceText,.o2k7SkinBlack div.mceMenu,.o2k7SkinBlack table.mceLayout,.o2k7SkinBlack .mceMenuItemTitle a,.o2k7SkinBlack table.mceLayout tr.mceFirst td,.o2k7SkinBlack table.mceLayout,.o2k7SkinBlack .mceMenuItemTitle a,.o2k7SkinBlack table.mceLayout tr.mceLast td,.o2k7SkinBlack .mceIframeContainer
	{
	border-color: #535353;
}

.o2k7SkinBlack table.mceSplitButtonEnabled:hover a.mceAction,.o2k7SkinBlack .mceSplitButtonHover a.mceAction,.o2k7SkinBlack .mceSplitButtonSelected
	{
	background-image: url(img/button_bg_black.png)
}

=======
/* Black */
.o2k7SkinBlack .mceToolbar .mceToolbarStart span,.o2k7SkinBlack .mceToolbar .mceToolbarEnd span,.o2k7SkinBlack .mceButton,.o2k7SkinBlack .mceSplitButton,.o2k7SkinBlack .mceSeparator,.o2k7SkinBlack .mceSplitButton a.mceOpen,.o2k7SkinBlack .mceListBox a.mceOpen
	{
	background-image: url(img/button_bg_black.png)
}

.o2k7SkinBlack table,.o2k7SkinBlack .mceMenuItemTitle a,.o2k7SkinBlack .mceMenuItemTitle span.mceText,.o2k7SkinBlack .mceStatusbar div,.o2k7SkinBlack .mceStatusbar span,.o2k7SkinBlack .mceStatusbar a
	{
	background: #535353;
	color: #FFF
}

.o2k7SkinBlack table.mceListBoxEnabled .mceText,o2k7SkinBlack .mceListBox .mceText
	{
	background: #FFF;
	border: 1px solid #CBCFD4;
	border-bottom-color: #989FA9;
	border-right: 0
}

.o2k7SkinBlack table.mceListBoxEnabled:hover .mceText,.o2k7SkinBlack .mceListBoxHover .mceText,.o2k7SkinBlack .mceListBoxSelected .mceText
	{
	background: #FFF;
	border: 1px solid #FFBD69;
	border-right: 0
}

.o2k7SkinBlack .mceExternalToolbar,.o2k7SkinBlack .mceListBox .mceText,.o2k7SkinBlack div.mceMenu,.o2k7SkinBlack table.mceLayout,.o2k7SkinBlack .mceMenuItemTitle a,.o2k7SkinBlack table.mceLayout tr.mceFirst td,.o2k7SkinBlack table.mceLayout,.o2k7SkinBlack .mceMenuItemTitle a,.o2k7SkinBlack table.mceLayout tr.mceLast td,.o2k7SkinBlack .mceIframeContainer
	{
	border-color: #535353;
}

.o2k7SkinBlack table.mceSplitButtonEnabled:hover a.mceAction,.o2k7SkinBlack .mceSplitButtonHover a.mceAction,.o2k7SkinBlack .mceSplitButtonSelected
	{
	background-image: url(img/button_bg_black.png)
}

>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd
.o2k7SkinBlack .mceMenu .mceMenuItemEnabled a:hover,.o2k7SkinBlack .mceMenu .mceMenuItemActive
	{
	background-color: #FFE7A1
}