<<<<<<<
HEAD
.mcePageBreak {
	display: block;
	border: 0;
	width: 100%;
	height: 12px;
	border-top: 1px dotted #ccc;
	margin-top: 15px;
	background: #fff url(../img/pagebreak.gif) no-repeat center top;
}

=======
.mcePageBreak {
	display: block;
	border: 0;
	width: 100%;
	height: 12px;
	border-top: 1px dotted #ccc;
	margin-top: 15px;
	background: #fff url(../img/pagebreak.gif) no-repeat center top;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd