p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	leading: 4px;
}

a {
	color: #99CCFF;
	text-decoration: underline;
}

a:hover {
	color: #FFCC33;
	text-decoration: none;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #CCCC66;
}

.highlight {
	color: #99CC99;
}

.note {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #99CC99;
}