<<<<<<<
HEAD
.mceItemHiddenSpellWord {
	background: url(../img/wline.gif) repeat-x bottom left;
	cursor: default;
}

=======
.mceItemHiddenSpellWord {
	background: url(../img/wline.gif) repeat-x bottom left;
	cursor: default;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd