<<<<<<<
HEAD /* CSS file for cell dialog in the table plugin */  

.panel_wrapper div.current {
	height: 200px;
}

.advfield {
	width: 200px;
}

#action {
	margin-bottom: 3px;
}

#class {
	width: 150px;
	=======
	/* CSS file for cell dialog in the table plugin */
	.
	panel_wrapper
	div.current
	{
	height
	:
	200px;
}

.advfield {
	width: 200px;
}

#action {
	margin-bottom: 3px;
}

#class {
	width: 150px;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}