* {
	margin: 0;
	padding: 0;
}

a {
	color: #f42555;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	line-height: 1.75em;
	background: url('images/bg.jpg');
	background-attachment: fixed;

}

br.clear {
	clear: both;
}

h1 {
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

h2 {
	color: #000000;
}

h3 {
	margin-bottom: 1em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #ffffff;
	font-size: 1.5em;
}

h4 {
	text-transform: capitalize;
}

h4 {
	margin-bottom: -.6em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #ffffff;
	font-size: 1em;
}

img.left {
	float: left;
	margin: 5px 20px 20px 0;
}

img.top {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

#bg {
	background: url('images/shadow.png') top left repeat-x;
	padding: 85px 0 85px 0;
	background-attachment: fixed;
}

#banner {
	background: #ffffff;
}

#box1 {
	width: 530px;
	overflow: hidden;
	margin: 0px 0 30px 0;

}


#box1adm {
	width: 800px;
	overflow: hidden;
	margin: 0px 0 30px 0;
}
#cal1 {
	width: 820px;
	overflow: hidden;
	margin: 0px 0 10px 0;
}

#box2 {
	width: 250px;
	overflow: hidden;
	float: left;
	text-align: center;
}
#box2adm {
	width: 410px;
	overflow: hidden;
	text-align: center;
	float:left;
	
}

#box1 td {
	font-size: 1.2em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 3px 15px 3px 15px;
}

#box2 td {
	font-size: 1.2em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 3px 15px 3px 15px;
}

#box3 td {
	font-size: 1.2em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 3px 8px 3px 8px;
}

#calhead {
	color: #000000;
	font-size: 2.2em;
	
}


#box3 {
	width: 250px;
	overflow: hidden;
	margin: 0px 0 0 280px;
}
#box3adm {
	width: 410px;
	overflow: hidden;
	margin: 0px 0 0 30px;
}

#content {
	width: 530px;
	margin: 0px 35px 0 290px;
	padding: 35px;
	background: #ffffff url('images/contentbg.jpg');
	border: solid 3px #CFB53B;
}


#schowarning{
	font-size: 1.05em;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#C00;
}
#scho{
	font-size: 1.05em;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#000;
}


#contentcal {
	width: 820px;
	margin: 0px 35px 0 0px;
	padding: 35px;
	background: #ffffff url('images/contentbg.jpg');
	border: solid 3px #CFB53B;
}

#contentcal td, th{
	font-size: .8em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 2px 5px 3px 5px;
}

#contentbro {
	width: 820px;
	margin: 0px 35px 0 0px;
	padding: 35px;
	background: #ffffff url('images/contentbg.jpg');
	border: solid 3px #CFB53B;
}

#contentscho {
	width: 820px;
	margin: 0px 35px 0 0px;
	padding: 35px;
	background: #ffffff url('images/contentbg.jpg');
	border: solid 3px #CFB53B;
}
#contentscho th{
	font-size: .9em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 2px 3px 3px 3px;
}

#contentbro table {
	text-align:center;
	margin-top:-11em;
}

#contentscho table {
	text-align:center;
	margin-top:-3em;
}

#contentschoread {
	width: 820px;
	margin: 0px 35px 0 0px;
	padding: 35px;
	background: #ffffff url('images/contentbg.jpg');
	border: solid 3px #CFB53B;
}

#contentschoread table {
	text-align:center;
}
#contentschoread th{
	font-size: 1em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 5px 15px 5px 15px;
}


#contentbro td, th {
	font-size: .695em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 2px 5px 3px 5px;
}

#contentadm {
	width: 820px;
	margin: 0px 35px 0 0px;
	padding: 35px;
	background: #ffffff url('images/contentbg.jpg');
	border: solid 3px #CFB53B;
}

#contentadm td, th {
	font-size: .95em;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	padding: 2px 15px 3px 15px;
}

#copyright {
	margin: 35px 0 0 0;
	text-align: center;
	color: #606060;
}

#copyright a {
	color: #808080;
}

#footer {
	position: relative;
	padding: 35px;
	width: 1110px;
	background: #56bfc2;
	color: #d6f0f0;
}

#footer a {
	color: #e7f6f6;
}

#footer h2,#footer h3,#footer h4 {
	color: #ffffff;
}

#footer ul {
	list-style: none;
}

#footer ul li {
	padding: 10px 0 10px 0;
	border-top: dotted 1px #80cfd1;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}

#footerContent {
	width: 820px;
	float: left;
}

#footerSidebar {
	width: 190px;
	margin: 0px 0 0 920px;
}

#header {
	position: relative;
	padding: 35px;
	height: 150px;
}

#logo {
	text-align: center;
	position: relative;
	margin: 39px auto;
	height: 128px;
	line-height: 128px;
	color: #ffffff;
	font-family: "Times New Roman", Times, serif;
	font-size: 4em;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 3em;
	font-family: Lobster, cursive;
}

#main {
	position: relative;
	padding: 0px;
	width: 1180px;
	color: #3d3d3d;
}

#main a {
	color: #242424;
}

#main h2,#main h3,#main h4, #scho {
	color: #1c1c1c;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 10px 0 10px 0;
	border-top: dotted 1px #bfbfbf;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 1180px;
	height: 57px;
	line-height: 57px;
	margin: 0px 0 0 0;
	background: #f42555 url('images/navbg.jpg');
	border: solid 1px #ffffff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.2em;
}

#nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

#nav ul {
	list-style: none;
	margin: 0 auto;
	width: 1180px;
	text-align: center;
}

#nav ul li {
	display: inline;
	text-align: center;
	padding: 0 1em 0 1em;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto;
}

#search input.button {
	margin-left: 1em;
	border: 0px;
	color: #ffffff;
	background: #f42555;
	padding: 6px;
}

#search input.text {
	border: dotted 1px #ffffff;
	padding: 5px;
}

#sidebar {
	color: #c4c5c5;
}

#sidebar a {
	color: #dddddd;
}

#sidebar h2,#sidebar h3,#sidebar h4 {
	color: #ffffff;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 10px 0 10px 0;
	border-top: dotted 1px #484b4a;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}

#sidebar1 {
	width: 190px;
	float: left;
	padding: 35px;
	color: #c4c5c5;
	border: solid 1px #CFB53B;
}

#sidebar1 a {
	color: #dddddd;
}

#sidebar1 h2,#sidebar1 h3,#sidebar1 h4 {
	color: #ffffff;
	text-align: center;
}

#sidebar1 ul {
	list-style: none;
}

#sidebar1 ul li {
	padding: 10px 0 10px 0;
	border-top: dotted 1px #484b4a;
}

#sidebar1 ul li.first {
	padding-top: 0;
	border-top: 0;
}

#sidebar2 {
	width: 190px;
	float: right;
	padding: 35px;
	color: #c4c5c5;
	border: solid 1px #CFB53B;
}

#sidebar2 a {
	color: #dddddd;
}

#sidebar2 h2,#sidebar2 h3,#sidebar2 h4 {
	color: #ffffff;
	text-align: center;
}

#sidebar2 ul {
	list-style: none;
}

#sidebar2 ul li {
	padding: 10px 0 10px 0;
	border-top: dotted 1px #484b4a;
}

#sidebar2 ul li.first {
	padding-top: 0;
	border-top: 0;
}

#announcement {
	color: #ffffff;
	font-size: .95em;
	margin-bottom: -1.5em;
	line-height: 105%;
	text-align: left;
	width:200;
	word-wrap:break-word;
	font-family: 'PT Sans Narrow', sans-serif;
}

#announcementdetail {
	color: #606060;
	font-size: .86em;
	margin-bottom: -1.5em;
	line-height: 105%;
	text-align: left;
}