<?php


  if ($handle = opendir('./files')) {
    while (false !== ($file = readdir($handle))) {
      if ($file != "." && $file != "..") {
        $thelist .= '<a href="'.$file.'">'.$file.'</a>';
      }
    }
    closedir($handle);
  }
?>
<h1>List of files:</h1>
<ul>
	<?php echo $thelist; ?>
</ul>

