<<<<<<<
HEAD
.mceLinkList,.mceAnchorList,#targetlist {
	width: 280px;
}

.mceActionPanel {
	margin-top: 7px;
}

.panel_wrapper div.current {
	height: 320px;
}

#classlist,#title,#href {
	width: 280px;
}

#popupurl,#popupname {
	width: 200px;
}

#popupwidth,#popupheight,#popupleft,#popuptop {
	width: 30px;
	vertical-align: middle;
	text-align: center;
}

#id,#style,#classes,#target,#dir,#hreflang,#lang,#charset,#type,#rel,#rev,#tabindex,#accesskey
	{
	width: 200px;
}

#events_panel input {
	width: 200px;
}

=======
.mceLinkList,.mceAnchorList,#targetlist {
	width: 280px;
}

.mceActionPanel {
	margin-top: 7px;
}

.panel_wrapper div.current {
	height: 320px;
}

#classlist,#title,#href {
	width: 280px;
}

#popupurl,#popupname {
	width: 200px;
}

#popupwidth,#popupheight,#popupleft,#popuptop {
	width: 30px;
	vertical-align: middle;
	text-align: center;
}

#id,#style,#classes,#target,#dir,#hreflang,#lang,#charset,#type,#rel,#rev,#tabindex,#accesskey
	{
	width: 200px;
}

#events_panel input {
	width: 200px;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd