<<<<<<<
HEAD
input.radio {
	border: 1px none #000;
	background: transparent;
	vertical-align: middle;
}

.panel_wrapper div.current {
	height: 80px;
}

#width {
	width: 50px;
	vertical-align: middle;
}

#width2 {
	width: 50px;
	vertical-align: middle;
}

#size {
	width: 100px;
}

=======
input.radio {
	border: 1px none #000;
	background: transparent;
	vertical-align: middle;
}

.panel_wrapper div.current {
	height: 80px;
}

#width {
	width: 50px;
	vertical-align: middle;
}

#width2 {
	width: 50px;
	vertical-align: middle;
}

#size {
	width: 100px;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd