<<<<<<<
HEAD
.panel_wrapper div.current {
	height: 290px;
}

#id,#style,#title,#dir,#hreflang,#lang,#classlist,#tabindex,#accesskey {
	width: 200px;
}

#events_panel input {
	width: 200px;
}

=======
.panel_wrapper div.current {
	height: 290px;
}

#id,#style,#title,#dir,#hreflang,#lang,#classlist,#tabindex,#accesskey {
	width: 200px;
}

#events_panel input {
	width: 200px;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd