<<<<<<<
HEAD
#text_font {
	width: 250px;
}

#text_size {
	width: 70px;
}

.mceAddSelectValue {
	background: #DDD;
}

select,#block_text_indent,#box_width,#box_height,#box_padding_top,#box_padding_right,#box_padding_bottom,#box_padding_left
	{
	width: 70px;
}

#box_margin_top,#box_margin_right,#box_margin_bottom,#box_margin_left,#positioning_width,#positioning_height,#positioning_zindex
	{
	width: 70px;
}

#positioning_placement_top,#positioning_placement_right,#positioning_placement_bottom,#positioning_placement_left
	{
	width: 70px;
}

#positioning_clip_top,#positioning_clip_right,#positioning_clip_bottom,#positioning_clip_left
	{
	width: 70px;
}

.panel_wrapper div.current {
	padding-top: 10px;
	height: 230px;
}

.delim {
	border-left: 1px solid gray;
}

.tdelim {
	border-bottom: 1px solid gray;
}

#block_display {
	width: 145px;
}

#list_type {
	width: 115px;
}

.disabled {
	background: #EEE;
}

=======
#text_font {
	width: 250px;
}

#text_size {
	width: 70px;
}

.mceAddSelectValue {
	background: #DDD;
}

select,#block_text_indent,#box_width,#box_height,#box_padding_top,#box_padding_right,#box_padding_bottom,#box_padding_left
	{
	width: 70px;
}

#box_margin_top,#box_margin_right,#box_margin_bottom,#box_margin_left,#positioning_width,#positioning_height,#positioning_zindex
	{
	width: 70px;
}

#positioning_placement_top,#positioning_placement_right,#positioning_placement_bottom,#positioning_placement_left
	{
	width: 70px;
}

#positioning_clip_top,#positioning_clip_right,#positioning_clip_bottom,#positioning_clip_left
	{
	width: 70px;
}

.panel_wrapper div.current {
	padding-top: 10px;
	height: 230px;
}

.delim {
	border-left: 1px solid gray;
}

.tdelim {
	border-bottom: 1px solid gray;
}

#block_display {
	width: 145px;
}

#list_type {
	width: 115px;
}

.disabled {
	background: #EEE;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd