<<<<<<<
HEAD /* CSS file for table dialog in the table plugin */  

.panel_wrapper div.current {
	height: 245px;
}

.advfield {
	width: 200px;
}

#class {
	width: 150px;
}

=======
/* CSS file for table dialog in the table plugin */
.panel_wrapper div.current {
	height: 245px;
}

.advfield {
	width: 200px;
}

#class {
	width: 150px;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd