<<<<<<<
HEAD
.panel_wrapper {
	height: 85px;
}

.panel_wrapper div.current {
	height: 85px;
}

/* IE */
* html .panel_wrapper {
	height: 100px;
}

* html .panel_wrapper div.current {
	height: 100px;
}

=======
.panel_wrapper {
	height: 85px;
}

.panel_wrapper div.current {
	height: 85px;
}

/* IE */
* html .panel_wrapper {
	height: 100px;
}

* html .panel_wrapper div.current {
	height: 100px;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd