<<<<<<<
HEAD




@import url(common.css);

.ui-progressbar {
	height: 12px;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	padding: 5px 4px;
	/*	border: 1px solid #ccc;
	height:30px; */
}

th {
	font: bold 1.2em Georgia, Times New Roman, serif;
	background: none repeat scroll 0 0 #695040;
	border: 2px solid #A1948B;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
	padding: 0 10px;
}

.prog {
	width: 150px;
	margin: 0 auto;
}

.ui-progressbar-value {
	background-image: url("../images/archive_progress.png");
}

#search {
	float: right;
}

/* ATTACHMENTS */
.nav,.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.nav a {
	display: block;
	text-decoration: none;
	border: 0;
}

.nav li {
	/* float: left; */
	
}

.nav>li>a {
	padding-left: 4px;
}

.nav li ul {
	border: 1px solid #787878;
	position: absolute;
	width: 150px;
	left: -999em;
	height: auto;
	background: #A1948B;
	color: #fff;
}

.nav li li {
	background: #A1948B;
	border: 0;
	padding: 2px;
	cursor: default;
	font-size: .9em;
}

.nav li li a {
	border-bottom: 1px dotted #fff;
	padding: 0 4px;
}

.nav li:hover ul,.nav li.sfhover ul {
	left: auto;
}

.nav li:hover {
	background: #695040;
}

.nav li:hover a,.nav li.sfhover a {
	color: #fff;
}

.stop,.send {
	font-size: .9em;
}

.lists {
	padding-left: 18px;
	background: url(../images/list.png) no-repeat 0 50%; ======= @import
	url(common.css) ; .ui-progressbar {
	height: 12px;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	padding: 5px 4px;
	/*	border: 1px solid #ccc;
	height:30px; */
}

th {
	font: bold 1.2em Georgia, Times New Roman, serif;
	background: none repeat scroll 0 0 #695040;
	border: 2px solid #A1948B;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
	padding: 0 10px;
}

.prog {
	width: 150px;
	margin: 0 auto;
}

.ui-progressbar-value {
	background-image: url("../images/archive_progress.png");
}

#search {
	float: right;
}

/* ATTACHMENTS */
.nav,.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.nav a {
	display: block;
	text-decoration: none;
	border: 0;
}

.nav li {
	/* float: left; */
	
}

.nav>li>a {
	padding-left: 4px;
}

.nav li ul {
	border: 1px solid #787878;
	position: absolute;
	width: 150px;
	left: -999em;
	height: auto;
	background: #A1948B;
	color: #fff;
}

.nav li li {
	background: #A1948B;
	border: 0;
	padding: 2px;
	cursor: default;
	font-size: .9em;
}

.nav li li a {
	border-bottom: 1px dotted #fff;
	padding: 0 4px;
}

.nav li:hover ul,.nav li.sfhover ul {
	left: auto;
}

.nav li:hover {
	background: #695040;
}

.nav li:hover a,.nav li.sfhover a {
	color: #fff;
}

.stop,.send {
	font-size: .9em;
}

.lists {
	padding-left: 18px;
	background: url(../images/list.png) no-repeat 0 50%;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}