<<<<<<<
HEAD




@import url(common.css);

#submit {
	display: block;
	font-size: 1.8em;
	width: 140px;
	margin: 10px 0 0 0;
}

table img {
	vertical-align: text-bottom; ======= @import url(common.css) ; #submit {
	display: block;
	font-size: 1.8em;
	width: 140px;
	margin: 10px 0 0 0;
}

table img {
	vertical-align: text-bottom;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}