<<<<<<<
HEAD /* Reset */  
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	font: 62.5%/1.5 Verdana, Tahoma, Arial, sans-serif;
	background: #a1948b;
}

code {
	font-size: 1.4em;
	color: #000099;
}

p {
	margin-bottom: 1em;
}

pre {
	font-size: 1.2em;
	background: none repeat scroll 0 0 #E9E9E9;
	border: 1px dotted;
	color: #000099;
	padding: 4px;
}

ol,ul {
	padding-left: 30px;
	margin: 8px 0;
}

a:link {
	border-bottom: 1px dotted #AAA;
	text-decoration: none;
}

a:visited {
	border-bottom: 1px dotted;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a.noborder,a:link.noborder,a:visited.noborder,a:hover.noborder,a:active.noborder
	{
	border: none;
}

table {
	margin: 10px 0;
}
/* NAVIGATION*/
#navlist {
	width: 960px;
	height: 60px;
	margin: 20px auto 4px auto;
	position: relative;
	border-bottom: 2px solid #333;
}

#navlist ul {
	margin: 0;
	padding: 0;
	height: 60px;
}

#navlist li {
	display: inline;
	list-style-type: none;
}

#navlist a.section {
	display: block;
	float: left;
	font: bold 16px/60px Rockwell, "Trebuchet MS", Helvetica, Arial, Geneva,
		sans-serif;
	text-decoration: none;
	color: #393939;
	background-image: url('../images/nav.png');
	background-repeat: no-repeat;
	height: 0;
	overflow: hidden;
	padding-top: 60px;
}

#nav_compose a {
	width: 156px;
	background-position: 0 0;
}

#nav_members a {
	width: 182px;
	background-position: -156px 0;
}

#nav_lists a {
	width: 153px;
	background-position: -338px 0;
}

#nav_archives a {
	width: 157px;
	background-position: -491px 0;
}

#nav_blacklist a {
	width: 159px;
	background-position: -648px 0;
}

#nav_utilities a {
	width: 153px;
	background-position: -807px 0;
}

#nav_compose a:hover {
	background-position: 0 -60px;
}

#nav_members a:hover {
	background-position: -156px -60px;
}

#nav_lists a:hover {
	background-position: -338px -60px;
}

#nav_archives a:hover {
	background-position: -491px -60px;
}

#nav_blacklist a:hover {
	background-position: -648px -60px;
}

#nav_utilities a:hover {
	background-position: -807px -60px;
}

#nav_compose a:active {
	background-position: 0 -120px;
}

#nav_members a:active {
	background-position: -156px -120px;
}

#nav_lists a:active {
	background-position: -338px -120px;
}

#nav_archives a:active {
	background-position: -491px -120px;
}

#nav_blacklist a:active {
	background-position: -648px -120px;
}

#nav_utilities a:active {
	background-position: -807px -120px;
}

#nav_compose #current {
	background-position: 0 -120px;
}

#nav_members #current {
	background-position: -156px -120px;
}

#nav_lists #current {
	background-position: -338px -120px;
}

#nav_archives #current {
	background-position: -491px -120px;
}

#nav_blacklist #current {
	background-position: -648px -120px;
}

#nav_utilities #current {
	background-position: -807px -120px;
}

/* Content */
#content_container {
	width: 960px;
	margin: 0 auto;
}

#content {
	border: 2px solid #ccc;
	background: #f7f7f7;
	font-size: 1.2em;
	position: relative;
	overflow: auto;
	padding: 6px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	-moz-box-shadow: 0 1px 2px #333333;
	-webkit-box-shadow: 0 1px 2px #333333;
	box-shadow: 0 1px 2px #333333;
}

#content h1 {
	font: bold 1.4em Georgia, Times New Roman, serif;
	margin-bottom: 1em;
	color: #3d2b1f;
}

#copyright {
	color: #333333;
	font-size: 11px;
	margin-top: 8px;
	text-align: center;
	text-shadow: 0 1px 1px #DDDDDD;
}

/* JQUERY UI */
.ui-widget {
	font-size: 1.4em;
	-moz-box-shadow: 0 4px 12px #333;
	-webkit-box-shadow: 0 4px 12px #333;
	box-shadow: 0 4px 12px #333;
}

.ui-progressbar.ui-widget {
	-moz-box-shadow: 0 1px 2px #333;
	-webkit-box-shadow: 0 1px 2px #333;
	box-shadow: 0 1px 2px #333;
}

#ui-datepicker-div {
	font-size: 1em !important;
}

.ui-dialog-titlebar-close {
	border: none !important;
}

/* Classes */
.helpText {
	background: #eeeecc;
	border: 1px inset #fff;
	border-radius: 5px;
	color: #3D2B1F;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.2em;
	font-style: italic;
	padding: 3px 6px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.noborder {
	border: none;
}

.nowrap {
	white-space: nowrap;
}

/* PAGINATION */
.paginate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
}

a.paginate {
	border: 1px solid #695040;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #333;
}

a.paginate:hover {
	background-color: #695040;
	color: #FFF;
	text-decoration: underline;
}

a.current {
	border: 1px solid #695040;
	font: bold .9em Arial, Helvetica, sans-serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background: #A1948B;
	color: #FFF;
	text-decoration: none;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default; =======
	/* Reset */ html , body, div, span, applet, object, iframe, h1, h2, h3,
	h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
	code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
	strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td { margin : 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	font: 62.5%/1.5 Verdana, Tahoma, Arial, sans-serif;
	background: #a1948b;
}

code {
	font-size: 1.4em;
	color: #000099;
}

p {
	margin-bottom: 1em;
}

pre {
	font-size: 1.2em;
	background: none repeat scroll 0 0 #E9E9E9;
	border: 1px dotted;
	color: #000099;
	padding: 4px;
}

ol,ul {
	padding-left: 30px;
	margin: 8px 0;
}

a:link {
	border-bottom: 1px dotted #AAA;
	text-decoration: none;
}

a:visited {
	border-bottom: 1px dotted;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a.noborder,a:link.noborder,a:visited.noborder,a:hover.noborder,a:active.noborder
	{
	border: none;
}

table {
	margin: 10px 0;
}
/* NAVIGATION*/
#navlist {
	width: 960px;
	height: 60px;
	margin: 20px auto 4px auto;
	position: relative;
	border-bottom: 2px solid #333;
}

#navlist ul {
	margin: 0;
	padding: 0;
	height: 60px;
}

#navlist li {
	display: inline;
	list-style-type: none;
}

#navlist a.section {
	display: block;
	float: left;
	font: bold 16px/60px Rockwell, "Trebuchet MS", Helvetica, Arial, Geneva,
		sans-serif;
	text-decoration: none;
	color: #393939;
	background-image: url('../images/nav.png');
	background-repeat: no-repeat;
	height: 0;
	overflow: hidden;
	padding-top: 60px;
}

#nav_compose a {
	width: 156px;
	background-position: 0 0;
}

#nav_members a {
	width: 182px;
	background-position: -156px 0;
}

#nav_lists a {
	width: 153px;
	background-position: -338px 0;
}

#nav_archives a {
	width: 157px;
	background-position: -491px 0;
}

#nav_blacklist a {
	width: 159px;
	background-position: -648px 0;
}

#nav_utilities a {
	width: 153px;
	background-position: -807px 0;
}

#nav_compose a:hover {
	background-position: 0 -60px;
}

#nav_members a:hover {
	background-position: -156px -60px;
}

#nav_lists a:hover {
	background-position: -338px -60px;
}

#nav_archives a:hover {
	background-position: -491px -60px;
}

#nav_blacklist a:hover {
	background-position: -648px -60px;
}

#nav_utilities a:hover {
	background-position: -807px -60px;
}

#nav_compose a:active {
	background-position: 0 -120px;
}

#nav_members a:active {
	background-position: -156px -120px;
}

#nav_lists a:active {
	background-position: -338px -120px;
}

#nav_archives a:active {
	background-position: -491px -120px;
}

#nav_blacklist a:active {
	background-position: -648px -120px;
}

#nav_utilities a:active {
	background-position: -807px -120px;
}

#nav_compose #current {
	background-position: 0 -120px;
}

#nav_members #current {
	background-position: -156px -120px;
}

#nav_lists #current {
	background-position: -338px -120px;
}

#nav_archives #current {
	background-position: -491px -120px;
}

#nav_blacklist #current {
	background-position: -648px -120px;
}

#nav_utilities #current {
	background-position: -807px -120px;
}

/* Content */
#content_container {
	width: 960px;
	margin: 0 auto;
}

#content {
	border: 2px solid #ccc;
	background: #f7f7f7;
	font-size: 1.2em;
	position: relative;
	overflow: auto;
	padding: 6px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	-moz-box-shadow: 0 1px 2px #333333;
	-webkit-box-shadow: 0 1px 2px #333333;
	box-shadow: 0 1px 2px #333333;
}

#content h1 {
	font: bold 1.4em Georgia, Times New Roman, serif;
	margin-bottom: 1em;
	color: #3d2b1f;
}

#copyright {
	color: #333333;
	font-size: 11px;
	margin-top: 8px;
	text-align: center;
	text-shadow: 0 1px 1px #DDDDDD;
}

/* JQUERY UI */
.ui-widget {
	font-size: 1.4em;
	-moz-box-shadow: 0 4px 12px #333;
	-webkit-box-shadow: 0 4px 12px #333;
	box-shadow: 0 4px 12px #333;
}

.ui-progressbar.ui-widget {
	-moz-box-shadow: 0 1px 2px #333;
	-webkit-box-shadow: 0 1px 2px #333;
	box-shadow: 0 1px 2px #333;
}

#ui-datepicker-div {
	font-size: 1em !important;
}

.ui-dialog-titlebar-close {
	border: none !important;
}

/* Classes */
.helpText {
	background: #eeeecc;
	border: 1px inset #fff;
	border-radius: 5px;
	color: #3D2B1F;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.2em;
	font-style: italic;
	padding: 3px 6px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.noborder {
	border: none;
}

.nowrap {
	white-space: nowrap;
}

/* PAGINATION */
.paginate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
}

a.paginate {
	border: 1px solid #695040;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #333;
}

a.paginate:hover {
	background-color: #695040;
	color: #FFF;
	text-decoration: underline;
}

a.current {
	border: 1px solid #695040;
	font: bold .9em Arial, Helvetica, sans-serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background: #A1948B;
	color: #FFF;
	text-decoration: none;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}