<<<<<<<
HEAD




@import url(common.css);

#ui-datepicker-div {
	font-size: 62.5%;
}

#ui-datepicker-div table {
	font-size: 1em;
}

#lists {
	float: left;
	width: 220px;
	white-space: nowrap;
	overflow: auto;
}

#lists.oneList {
	display: none;
}

#lists input {
	vertical-align: top;
}

#message {
	width: 706px;
	height: 300px;
}

#message.oneList {
	width: 936px;
}

.closed {
	color: #aaa;
}

#compose {
	margin-left: 230px;
}

#compose.oneList {
	margin-left: 0;
}

#compose label {
	display: block;
	font-size: 1.6em;
}

#compose p {
	margin: 6px 0;
}

#nownlater input {
	vertical-align: text-bottom;
}

#nownlater label {
	display: inline;
	font-size: 1em;
}

#subject {
	padding: 2px;
	width: 706px;
}

#subject.oneList {
	width: 936px;
}

#send {
	font-size: 1.8em;
	margin: 0 auto;
	padding: 6px;
	width: 200px;
	display: block;
}

button {
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding: 2px;
}

#serverTimeContainer {
	font-size: 10px;
}

#schedule {
	background: #eee url("../images/clock.png") no-repeat scroll 4px 4px;
	padding: 4px 0 4px 40px;
	border: 1px solid #bbb;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 4px 0;
}

#attachments ul {
	list-style-type: none;
}

#attachments li {
	background: url(../images/attachment.png) no-repeat 0 2px;
	padding-left: 18px; ======= @import url(common.css) ;
	#ui-datepicker-div {
	font-size: 62.5%;
}

#ui-datepicker-div table {
	font-size: 1em;
}

#lists {
	float: left;
	width: 220px;
	white-space: nowrap;
	overflow: auto;
}

#lists.oneList {
	display: none;
}

#lists input {
	vertical-align: top;
}

#message {
	width: 706px;
	height: 300px;
}

#message.oneList {
	width: 936px;
}

.closed {
	color: #aaa;
}

#compose {
	margin-left: 230px;
}

#compose.oneList {
	margin-left: 0;
}

#compose label {
	display: block;
	font-size: 1.6em;
}

#compose p {
	margin: 6px 0;
}

#nownlater input {
	vertical-align: text-bottom;
}

#nownlater label {
	display: inline;
	font-size: 1em;
}

#subject {
	padding: 2px;
	width: 706px;
}

#subject.oneList {
	width: 936px;
}

#send {
	font-size: 1.8em;
	margin: 0 auto;
	padding: 6px;
	width: 200px;
	display: block;
}

button {
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding: 2px;
}

#serverTimeContainer {
	font-size: 10px;
}

#schedule {
	background: #eee url("../images/clock.png") no-repeat scroll 4px 4px;
	padding: 4px 0 4px 40px;
	border: 1px solid #bbb;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 4px 0;
}

#attachments ul {
	list-style-type: none;
}

#attachments li {
	background: url(../images/attachment.png) no-repeat 0 2px;
	padding-left: 18px;
}
>>>>>>>
b59280b13ce027f89f28f2d12e991e62fe2dd1bd


)