<<<<<<<
HEAD




@import url(common.css);

h1 {
	border-bottom: 1px solid #CCCCCC;
	font-size: 2em !important;
	font-style: italic !important;
	margin-bottom: 10px; ======= @import url(common.css) ; h1 {
	border-bottom: 1px solid #CCCCCC;
	font-size: 2em !important;
	font-style: italic !important;
	margin-bottom: 10px;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}