<<<<<<<
HEAD




@import url(common.css);

.collector {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline;
	float: left;
	padding: 4px;
	background: #DBCDC4;
	margin: 0 6px 6px 0;
	border: 1px solid #A1948B;
}

#build {
	width: 50%;
	float: left;
}

#display {
	width: 50%;
	float: right;
}

fieldset {
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
	padding: 8px;
	width: 90%;
}

legend {
	padding: 4px; ======= @import url(common.css) ; .collector {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline;
	float: left;
	padding: 4px;
	background: #DBCDC4;
	margin: 0 6px 6px 0;
	border: 1px solid #A1948B;
}

#build {
	width: 50%;
	float: left;
}

#display {
	width: 50%;
	float: right;
}

fieldset {
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
	padding: 8px;
	width: 90%;
}

legend {
	padding: 4px;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}