<<<<<<<
HEAD




@import url(common.css);

#available,#chosen {
	list-style-type: none;
	float: left;
	margin: 0 10px 0 0;
	background: #eee;
	padding: 5px;
	width: 180px;
	min-height: 30px;
}

#chosen {
	margin: 0 0 0 10px;
}

#available li,#chosen li {
	margin: 5px;
	padding: 5px;
	font-size: 12px;
	font-family: Arial;
	cursor: move;
}

#chosen li {
	background: #b3ffb3;
}

#add_list_heading {
	margin: 0;
}

#available img,#chosen img {
	vertical-align: middle;
}

#list_name_container {
	background-position: 100% 70%;
	background-repeat: no-repeat;
	margin-right: 20px;
	padding-right: 20px;
}

#list_info {
	float: left;
	width: 50%;
}

#list_name,#list_owner {
	width: 180px;
}

#list_info textarea {
	width: 100%;
}

#save,#update {
	display: block;
	font-size: 1.8em;
	margin: 0 auto;
	padding: 6px;
	width: 240px;
}

#save img {
	vertical-align: text-bottom;
}

#data_collection {
	overflow: auto;
}

#data_collection p {
	width: 180px;
	text-align: center;
	padding: 0 5px;
}

#data_collection_heading {
	margin: 0;
	padding: 0 0 0 18px;
}

#notification {
	margin-top: 0;
}

#list_add_html,#list_edit_html {
	clear: both;
}

#list_edit_html {
	padding-top: 10px;
}

#duplicate {
	background: url('../images/copy.png') no-repeat 0 50%;
}

#delete {
	background: url('../images/delete.png') no-repeat 0 50%;
}

#duplicate,#delete {
	padding: 2px 32px 0 18px;
	margin-right: 24px;
	cursor: pointer;
	border-right: 1px solid #bbb;
}

#utils {
	background: #ddd;
	border-radius: 4px;
	padding: 6px;
	border: 1px solid #bbb
}

.expand {
	background: url('../images/plus.png') no-repeat 0 50%;
}

.contract {
	background: url('../images/minus.png') no-repeat 0 50%;
}

.label {
	display: block;
	margin-bottom: 6px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.switch {
	vertical-align: top; ======= @import url(common.css) ; #available ,
	#chosen {
	list-style-type: none;
	float: left;
	margin: 0 10px 0 0;
	background: #eee;
	padding: 5px;
	width: 180px;
	min-height: 30px;
}

#chosen {
	margin: 0 0 0 10px;
}

#available li,#chosen li {
	margin: 5px;
	padding: 5px;
	font-size: 12px;
	font-family: Arial;
	cursor: move;
}

#chosen li {
	background: #b3ffb3;
}

#add_list_heading {
	margin: 0;
}

#available img,#chosen img {
	vertical-align: middle;
}

#list_name_container {
	background-position: 100% 70%;
	background-repeat: no-repeat;
	margin-right: 20px;
	padding-right: 20px;
}

#list_info {
	float: left;
	width: 50%;
}

#list_name,#list_owner {
	width: 180px;
}

#list_info textarea {
	width: 100%;
}

#save,#update {
	display: block;
	font-size: 1.8em;
	margin: 0 auto;
	padding: 6px;
	width: 240px;
}

#save img {
	vertical-align: text-bottom;
}

#data_collection {
	overflow: auto;
}

#data_collection p {
	width: 180px;
	text-align: center;
	padding: 0 5px;
}

#data_collection_heading {
	margin: 0;
	padding: 0 0 0 18px;
}

#notification {
	margin-top: 0;
}

#list_add_html,#list_edit_html {
	clear: both;
}

#list_edit_html {
	padding-top: 10px;
}

#duplicate {
	background: url('../images/copy.png') no-repeat 0 50%;
}

#delete {
	background: url('../images/delete.png') no-repeat 0 50%;
}

#duplicate,#delete {
	padding: 2px 32px 0 18px;
	margin-right: 24px;
	cursor: pointer;
	border-right: 1px solid #bbb;
}

#utils {
	background: #ddd;
	border-radius: 4px;
	padding: 6px;
	border: 1px solid #bbb
}

.expand {
	background: url('../images/plus.png') no-repeat 0 50%;
}

.contract {
	background: url('../images/minus.png') no-repeat 0 50%;
}

.label {
	display: block;
	margin-bottom: 6px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.switch {
	vertical-align: top;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}