<<<<<<<
HEAD




@import url(common.css);

label input {
	vertical-align: text-top;
}

#importDialog label {
	padding: 2px 4px 2px 0;
	border: 1px solid #A1948B;
	-moz-border-radius: 4px;
	background: #eeeecc;
}

.openImport,#cleanup {
	cursor: pointer;
}

#lists {
	float: left;
	width: 220px;
}

#members {
	float: left;
	width: 380px;
	margin-right: 20px;
}

#members h4 {
	border-bottom: 1px solid #CCCCCC;
	color: #666666;
	font-size: 1.6em;
	font-weight: normal;
	margin-top: 10px;
}

#member_data {
	float: left;
	width: 320px;
}

#member_delete {
	font-size: 1.6em;
	display: block;
	padding: 2px;
}

#search {
	float: right;
}

#addresses {
	width: 100%;
	height: 150px;
}

.tooltip {
	display: none;
	background: transparent url(../js/tooltip/white_arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
}

.member {
	cursor: pointer;
}

.closed {
	color: #aaa;
}

.backtotop {
	background-image: url("../images/top_of_page.gif");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	float: right;
	font-size: 0.8em;
	margin-right: 1em;
	padding-right: 10px;
}

.unconfirmed {
	color: #bd5757;
	font-style: italic; ======= @import url(common.css) ; label   input {
	vertical-align: text-top;
}

#importDialog label {
	padding: 2px 4px 2px 0;
	border: 1px solid #A1948B;
	-moz-border-radius: 4px;
	background: #eeeecc;
}

.openImport,#cleanup {
	cursor: pointer;
}

#lists {
	float: left;
	width: 220px;
}

#members {
	float: left;
	width: 380px;
	margin-right: 20px;
}

#members h4 {
	border-bottom: 1px solid #CCCCCC;
	color: #666666;
	font-size: 1.6em;
	font-weight: normal;
	margin-top: 10px;
}

#member_data {
	float: left;
	width: 320px;
}

#member_delete {
	font-size: 1.6em;
	display: block;
	padding: 2px;
}

#search {
	float: right;
}

#addresses {
	width: 100%;
	height: 150px;
}

.tooltip {
	display: none;
	background: transparent url(../js/tooltip/white_arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
}

.member {
	cursor: pointer;
}

.closed {
	color: #aaa;
}

.backtotop {
	background-image: url("../images/top_of_page.gif");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	float: right;
	font-size: 0.8em;
	margin-right: 1em;
	padding-right: 10px;
}

.unconfirmed {
	color: #bd5757;
	font-style: italic;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}