<<<<<<<
HEAD




@import url(common.css);

#results {
	padding: 2px 6px;
}

#results pre {
	overflow: auto;
}

pre {
	margin: 0;
	max-height: 216px;
	width: 584px;
}

td {
	vertical-align: top;
	padding: 5px 4px;
	height: 30px;
}

th {
	font: bold 1.2em Georgia, Times New Roman, serif;
	background: none repeat scroll 0 0 #695040;
	border: 2px solid #A1948B;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
}

h3 {
	margin: 0;
	padding: 0 0 0 18px;
}

.expand {
	background: url('../images/plus.png') no-repeat 0 50%;
	cursor: pointer;
}

.contract {
	background: url('../images/minus.png') no-repeat 0 50%;
	cursor: pointer; ======= @import url(common.css) ; #results {
	padding: 2px 6px;
}

#results pre {
	overflow: auto;
}

pre {
	margin: 0;
	max-height: 216px;
	width: 584px;
}

td {
	vertical-align: top;
	padding: 5px 4px;
	height: 30px;
}

th {
	font: bold 1.2em Georgia, Times New Roman, serif;
	background: none repeat scroll 0 0 #695040;
	border: 2px solid #A1948B;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
}

h3 {
	margin: 0;
	padding: 0 0 0 18px;
}

.expand {
	background: url('../images/plus.png') no-repeat 0 50%;
	cursor: pointer;
}

.contract {
	background: url('../images/minus.png') no-repeat 0 50%;
	cursor: pointer;
	>>>>>>>
	b59280b13ce027f89f28f2d12e991e62fe2dd1bd
}